body {
    background-color: rgb(8, 8, 8);
}

.big_page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.big_page>div {
    margin: 1vw;
    padding: 1vh;
}

.addButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.addButtons>div {
    margin: 1vh;
    padding: 2%;
    width: 20%;
}

h1 {
    display: flex;
    color: black;
    background-color: yellow;
    width: 20%;
    margin: 1%;
    padding: 1.5%;

    border: 2vh groove rgb(97, 97, 97);
    /* border-left: 0;
    border-top: 0; */
    border-radius: 0.5vh;
    box-shadow: 2%;

    font-family: 'Gill Sans', Calibri, sans-serif;
}

h2 {
    display: flex;
    color: black;
    background-color: yellow;
    width: 20%;
    margin: 1%;
    padding: 1.5%;

    border: 2vh groove rgb(97, 97, 97);
    border-radius: 0.5vh;

    font-family: 'Gill Sans', Calibri, sans-serif;

}

table {
    background-color: black;
    color: rgb(0, 255, 0);
    font-family: 'Courier New', Courier, monospace;
    border: 0.5vw solid rgb(0, 255, 0);
    border-radius: 0.2vh;
}

/* .WDronesss {
    display: flex;
    color: rgb(0, 255, 0);

    border: 0.5vw solid rgb(0, 255, 0);
    border-radius: 0.2vh;
} */


/* .violence_robots {
    display: flex;
    color: rgb(0, 255, 0);

    border: 0.5vw solid rgb(0, 255, 0);
    border-radius: 0.2vh;
} */

#WD_button {
    background-color: gray;
    border: 2vh, groove, rgb(70, 70, 70);
    border-radius: 0.5vh;

    font-family: 'Gill Sans', Calibri, sans-serif;
    font-weight: bold;
    font-size: larger;
    color: white;

    border-radius: 0.5vh;
}

#DD_button {
    background-color: yellow;
    border: 2vh, groove, black;
    border-radius: 0.5vh;

    font-family: 'Gill Sans', Calibri, sans-serif;
    font-weight: bold;
    font-size: larger;
    color: white;

    border-radius: 0.5vh;
}

a:link {
    color: rgb(0, 170, 0);
    font-weight: bold;
    margin: 0.5vh;
}

a:visited {
    color: grey;
}

a:hover {
    color: white;
    font-size: small;
    opacity: 50%;
    transition: 0.5s;
}


a.WD_button {
    color: white;
    font-size: larger;
}

a.WD_button:hover {
    font-size: x-large;
    transition: 0.5s;
}

a.DD_button {
    color: black;
    font-size: larger;
}

a.DD_button:hover {
    font-size: x-large;
    transition: 0.5s;
}

/* EDIT SITE DISASSEMBLY DRONES*/


p {
    color: rgb(1, 203, 1);
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}


a.backlink {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
    padding: 1vh;
    width: 15%;
    border: 1vh double rgb(0, 255, 0);
}

a.backlink:hover {
    font-size: medium;

}


input.edit {
    margin: 5%;
    background-color: rgb(0, 85, 0);
    color: rgb(0, 255, 0);
    padding: 0.9vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    border: 0.5vh rgb(0, 255, 0) dashed;
}

.subBTN {
    display: inline-block;
}

.subBTN:hover {
    scale: 1.1;
    transition: 0.5s;
}

.ADD{
    margin: 1%;
}

.ADD>input{
    background-color: rgb(0, 44, 0);
    color: white;
    font-size: medium;
    border: 0.5vh dashed rgb(0, 255, 0);
}

input.sendBTN{
    margin: 1%;
    font-size: large;
    background-color: rgb(0, 60, 0);
    border: 1vh groove rgb(0, 255, 0);
}


/* scrapped code: */


/* body {
    background-color: rgb(41, 41, 41);
}

.big_page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.big_page>div {
    background-color: aliceblue;
    margin: 1vw;
    padding: 1vh;
}

.addButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.addButtons>div {
    background-color: rgb(196, 196, 196);
    margin: 1vh;
    padding: 2%;
    width: 20%;
} */