body {
    background-color: rgb(8, 8, 8);
}

.big_page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.big_page>div {
    margin: 1vw;
    padding: 1vh;
}

.addButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.addButtons>div {
    margin: 1vh;
    padding: 2%;
    width: 20%;
}

h1 {
    display: flex;
    color: black;
    background-color: yellow;
    width: 20%;
    margin: 1%;
    padding: 1.5%;

    border: 2vh groove rgb(97, 97, 97);
    /* border-left: 0;
    border-top: 0; */
    border-radius: 0.5vh;
    box-shadow: 2%;

    font-family: 'Gill Sans', Calibri, sans-serif;
}


#h2DD {
    display: flex;
    color: black;
    background-color: yellow;
    width: 20%;
    margin: 1%;
    padding: 1.5%;

    border: 2vh groove rgb(97, 97, 97);
    border-radius: 0.5vh;

    font-family: 'Gill Sans', Calibri, sans-serif;

}

#h2WD {
    display: flex;
    color: white;
    background-color: gray;
    width: 20%;
    margin: 1%;
    padding: 1.5%;

    border: 2vh groove rgb(70, 70, 70);
    border-radius: 0.5vh;

    font-family: 'Gill Sans', Calibri, sans-serif;

}


table {
    background-color: black;
    color: rgb(0, 255, 0);
    font-family: 'Courier New', Courier, monospace;
    border: 0.5vw solid rgb(0, 255, 0);
    border-radius: 0.2vh;
}

/* .WDronesss {
    display: flex;
    color: rgb(0, 255, 0);

    border: 0.5vw solid rgb(0, 255, 0);
    border-radius: 0.2vh;
} */


/* .violence_robots {
    display: flex;
    color: rgb(0, 255, 0);

    border: 0.5vw solid rgb(0, 255, 0);
    border-radius: 0.2vh;
} */

#WD_button {
    background-color: gray;
    color: white;
    border: 2vh, groove, rgb(70, 70, 70);
    border-radius: 0.5vh;

    font-family: 'Gill Sans', Calibri, sans-serif;
    font-weight: bold;
    font-size: larger;

    border-radius: 0.5vh;
}

#DD_button {
    background-color: yellow;
    color: black;
    border: 2vh, groove, black;
    border-radius: 0.5vh;

    font-family: 'Gill Sans', Calibri, sans-serif;
    font-weight: bold;
    font-size: larger;

    border-radius: 0.5vh;
}

a.WD_button:link {
    color: white;
    font-size: large;
}

a.WD_button:visited {
    color: white;
}

a.WD_button:hover {
    font-size: larger;
    transition: 0.5s;
}

a.DD_button:link {
    color: black;
    font-size: large;
}

a.DD_button:visited {
    color: black;
}

a.DD_button:hover {
    font-size: larger;
    transition: 0.5s;
}


a.viewWD:link {
    color: rgb(0, 170, 0);
    font-weight: bold;
    margin: 0.5vh;
}

a.viewWD:visited {
    color: green;
}

a.viewWD:hover {
    color: white;
    font-size: small;
    opacity: 50%;
    transition: 0.5s;
}

a.viewDD:link {
    color: rgb(0, 170, 0);
    font-weight: bold;
    margin: 0.5vh;
}

a.viewDD:visited {
    color: green;
}

a.viewDD:hover {
    color: white;
    font-size: small;
    opacity: 50%;
    transition: 0.5s;
}


a:link {
    color: green;
}

a:visited {
    color: green;
}

a:hover {
    font-size: small;
    color: grey;
    opacity: 50%;
    transition: 0.5s;
}




/* EDIT SITE DISASSEMBLY DRONES*/


p {
    color: rgb(0, 150, 0);
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#serialNumber {
    color: rgb(0, 255, 0);
    margin-top: -1%;
}


a.backlink {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
    padding: 1vh;
    width: 15%;
    border: 1vh double rgb(0, 255, 0);
}

a.backlink:hover {
    font-size: medium;

}

input {
    background-color: rgb(0, 44, 0);
    color: grey;

    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: medium;

    padding: 0.3%;
    border: 0.5vh dashed rgb(0, 255, 0);
}

input.edit {
    margin: 5%;
    background-color: rgb(0, 30, 0);
    color: rgb(0, 255, 0);
    padding: 0.9vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    border: 0.7vh green outset;
}


.subBTN {
    display: inline-block;
}

.subBTN:hover {
    scale: 1.1;
    transition: 0.5s;
}

.ADD {
    margin: 1%;
}

.ADD>input {
    background-color: rgb(0, 44, 0);
    color: white;
    font-size: medium;
    border: 0.5vh dashed rgb(0, 255, 0);
}

input.sendBTN {
    margin: 1%;
    font-size: large;
    background-color: black;
    color: green;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border: 1vh double rgb(0, 255, 0);
}

input.sendBTN:hover {
    scale: 1.1;
    transition: 0.5s;
}






/* scrapped code: */


/* body {
    background-color: rgb(41, 41, 41);
}

.big_page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.big_page>div {
    background-color: aliceblue;
    margin: 1vw;
    padding: 1vh;
}

.addButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.addButtons>div {
    background-color: rgb(196, 196, 196);
    margin: 1vh;
    padding: 2%;
    width: 20%;
} */