<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Worker Drones</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h2>Add Worker Drone</h2>

    <form action="/overview/add_WD" method="POST">
        <div class="ADD">
            <input type="text" name="name" placeholder="Worker Name" />
            <input type="text" name="status" placeholder="Status (infected or patched?)" />
            <input class="sendBTN" type="submit" value="Send">
        </div>
    </form>

</body>

</html>